@model AccountModel
@{
    ViewData["Title"] = "Личный кабинет";
}


 <div class="container justify-content-center align-items-center display-flex main-container-form">
        <main role="main" class="pb-3">
            <form method="post" class="col-sm col-sm-pull" asp-action="UpdateAccountInfo" asp-controller="User">
                   <div class="form-group row justify-content-center">
                       <div class="col-sm-6">
                           <img src="@Model.UserPicture" class="img-fluid img-border-radius-100"/>
                       </div>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" asp-for="UserPicture" id="inputEmail" placeholder="ССылка на аватарку">
                        </div>
                  </div>            
                  <div class="form-group row justify-content-center">                    
                        <div class="col-sm-12">
                          <input type="text" class="form-control" value="@Model.FullName" asp-for="FullName" id="inputEmail" placeholder="Имя">
                        </div>
                  </div>           
                  <div class="form-group row justify-content-center">
                    <label for="inputPassword" class="justify-content-center">Phone</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" value="@Model.Phone" asp-for="Phone" id="inputPassword" placeholder="Вставьте ссылку">
                    </div>
                 </div>
                    <div class="form-group row justify-content-center">
                    <label for="inputPassword" class="justify-content-center">Instagram</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" value="@Model.Instagram" asp-for="Instagram" id="inputPassword" placeholder="Вставьте ссылку">
                    </div>
                 </div>
                    <div class="form-group row justify-content-center">
                    <label for="inputPassword" class="justify-content-center">Telegram</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" value="@Model.Telegram" asp-for="Telegram" id="inputPassword" placeholder="Вставьте ссылку">
                    </div>
                 </div>
                    <div class="form-group row justify-content-center">
                    <label for="inputPassword" class="justify-content-center">MonoBank</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" value="@Model.Monobank" asp-for="Monobank" id="inputPassword" placeholder="Вставьте ссылку">
                    </div>
                 </div>
                    <div class="form-group row justify-content-center">
                    <label for="inputPassword" class="justify-content-center">Facebook</label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" value="@Model.FaceBook" asp-for="FaceBook" id="inputPassword" placeholder="Вставьте ссылку">
                    </div>
                 </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary mx-auto">Сохранить</button>
                </div>             
            </form>
        </main>
    </div>